* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}


/* body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
} */
  