:root {
    /* Palette */
    --primary-color: #FCFCFC;   /* use for majority of website color */
    --secondary-color: #3C0000; /* use for text, button */

    /* Full Palette */
    --accent-color: #D6001C;    /* Fire Engine Red */
    --light-color: #D7D9B1;     /* Vanilla */
    --dark-color: #756D54;      /* Coyote */
    --black-color: #3C0000;     /* Black Bean */
    --white-color: #FCFCFC;     /* White */
    --fontA: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url(circular_std_black.woff);
  }
  

header {
    background-color: var(--white-color);
    color: var(--black-color);
}

header nav a {
    color: var(--black-color);
}

header nav a:hover {
    color: var(--accent-color);
}

main {
    background-color: var(--white-color);
    color: var(--black-color);
}

footer {
    background-color: var(--black-color);
    color: var(--white-color);
}