.problem-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    gap: 16px;
}

.problem-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.problem-box {
    height: 400px;
    width: 600px;
    resize: none;
}