.card-container-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    padding: 50px;
}

/*flexbox that holds the cards*/
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

/*flexbox that holds image name role*/
.card {
    display: flex;                      
    flex-direction: column;                 
    align-items: center;                    
    background-color: bisque;             
    border-radius: 20%;
    width: 200px;
}

/*image frame*/
.card > img {
    width: 120px;                           /*width and height fix image size*/
    height: 120px;                          
    border-radius: 50%;                     /*gives rounded corners*/
    object-fit: cover;                      /*makes sure image fills space*/
}

/*name text*/
.card > h2 {
    font-weight: bold;                      /*makes it pop a bit*/
}

/*title text*/
.card > h4 {
    font-weight: normal;                    /*standard*/
}

